<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @personne.nom %>
</p>

<p>
 <strong>Scene:</strong>
 <% @personne.scenes.each do |scene| %>
 <p><small>recit: </small><%= scene.recit %>
 <small>lieu: </small><%=scene.lieu %>
 <small>periode: </small><%=scene.periode %></p>
 <% end %>
</p>

<%= link_to 'Edit', edit_personne_path(@personne) %> |
<%= link_to 'Back', personnes_path %>
