<h1>Listing anecdotes</h1>

<table>
  <thead>
    <tr>
      <th>Sujet</th>
      <th>Theme</th>
      <th>Chapitre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anecdotes.each do |anecdote| %>
      <tr>
        <td><%= anecdote.sujet %></td>
        <td><%= anecdote.theme %></td>
        <td><%= anecdote.chapitre_id %></td>
        <td><%= link_to 'Show', anecdote %></td>
        <td><%= link_to 'Edit', edit_anecdote_path(anecdote) %></td>
        <td><%= link_to 'Destroy', anecdote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anecdote', new_anecdote_path %>
