<p id="notice"><%= notice %></p>

<p>
  <strong>Personne:</strong>
  <%= @relationship.personne_id %>
</p>

<p>
  <strong>Scene:</strong>
  <%= @relationship.scene_id %>
</p>

<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
