<%= form_for(@scene) do |f| %>
<% if @scene.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@scene.errors.count, "error") %> prohibited this scene from being saved:</h2>

  <ul>
    <% @scene.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :recit %><br>
  <%= f.text_area :recit %>
</div>
<div class="field">
  <%= f.label :lieu %><br>
  <%= f.text_field :lieu %>
</div>
<div class="field">
  <%= f.label :periode %><br>
  <%= f.text_field :periode %>
</div>
<div class="field">
  <%= f.label :chapitre_id %><br>
  <%= f.number_field :chapitre_id %>
</div>
<div class="field">
 <% Personne.all.each do |personne| %>
 <label><%= personne.nom %>
   <%= check_box_tag "scene[personne_ids][]",personne.id,  @scene.personnes.include?(personne)%> 
 </label>
 <% end %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
