<p id="notice"><%= notice %></p>

<p>
  <strong>Recit:</strong>
  <%= @scene.recit %>
</p>

<p>
  <strong>Lieu:</strong>
  <%= @scene.lieu %>
</p>

<p>
  <strong>Periode:</strong>
  <%= @scene.periode %>
</p>

<p>
  <strong>Chapitre:</strong>
  <%= @scene.chapitre_id %>
</p>

<p>
 <strong>Personne:</strong>
 <% @scene.personnes.each do |personne| %>
 <p><small>nom: </small><%= personne.nom %>
 
 <% end %>
</p>


<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to 'Back', scenes_path %>
