<p id="notice"><%= notice %></p>

<p>
  <strong>Chapitre:</strong>
  <%= @chapitre.chapitre_id %>
</p>

<p>
  <strong>Titre:</strong>
  <%= @chapitre.titre %>
</p>



<p>
  <strong>Anecdote:</strong>
  <% @chapitre.anecdotes.each do |c| %>

 <p> <small>sujet: </small><%= c.sujet %>
  <small>theme: </small><%= c.theme %></p>
  <% end %>

</p>

<p>
 <strong>Scene:</strong>
 <% @chapitre.scenes.each do |scene| %>
 <p><small>recit: </small><%= scene.recit %>
 <small>lieu: </small><%=scene.lieu %>
 <small>periode: </small><%=scene.periode %></p>
 <% end %>
</p>

<%= link_to 'Edit', edit_chapitre_path(@chapitre) %> |
<%= link_to 'Back', chapitres_path %>
