<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
           
          <%= link_to "Assistant App", root_path, id: "section" %>
          <nav>
          
              <li><%= link_to "Home",    root_path %></li>
              <li><%= link_to "Chapitres", chapitres_path%></li>
              <li><%= link_to "Anectodes", anecdotes_path %></li>
              <li><%= link_to "Scenes", scenes_path%></li>
              <li><%= link_to "Personne ", personnes_path %></li></div>
      </nav>
    </div>
  </div>
</header>